{{#if length}}
<h1 class="text-center top-of-50">
	You have this orders has been need to delivery
</h1>
<div class="top-of-50 container">
	<table id="example" class="table table-striped table-bordered text-center" style="width: 100%;">
		<thead>
			<tr>
				<th>Customer name</th>
				<th>Their address</th>
				<th>For product</th>
				<th>Product price</th>
				<th>Take actions</th>
			</tr>
		</thead>
		{{#each order}}
		<tbody>
			<tr>
				<td>{{this.customerName}}</td>
				<td>
					<address>{{this.customerAddress}}</address>
				</td>
				<td>
					<div style=" width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;">
						<a href="/view-product-details">{{this.cart.productName}}</a></div>
				</td>
				<td>₹ {{this.cart.productPrice}}</td>
				<td>
					<div>
						<form action="/outfordelivery/{{this.id}}" method="POST">
							<button type="submit" class="btn btn-outline-success btn-sm">
								Confirm Delivery
							</button>
						</form>
					</div>
				</td>
			</tr>
		</tbody>
		{{/each}}
	</table>
</div>
{{else}}
<div class="text-center top-of-50 bottom-of-50">
	<h1>No order has been accepted by seller</h1>
</div>
{{/if}}